@font-face {
  font-family: 'DMSans';
  src: url('../src/fonts/DMSans-Black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans Bold';
  src: url('../src/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

